body {
    background-color: #000;
    color: #fff; 
    background-image: url("../images/reaper_background.png"); 
}

#game-container {
  margin-top: 50px;
}

h1 {
  color: #f2f1f5;
}

#scoreboard {
  margin-bottom: 20px;
}

#roll-score, #total-score {
  font-size: 18px;
}

#bet-your-life {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #040404;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

#life_result {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

#soulImg {
    width: 75px;
    height: 75px;
}